<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>dragon hub</title>
	<meta http-equiv="Content-Type" content="multipart/form-data; charset=UTF-8" />
    <link href="./chat.css" th:href="@{/asserts/css/chat.css}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
	<link href="asserts/css/bootstrap.min.css" 
	th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" 
	rel="stylesheet">
</head>
<body>
    <div class="leftbar">
        <ul>
            <li><i class="fas fa-user"></i></li>
            <li><i class="fas fa-users"></i></li>
            <li><i class="fas fa-smile"></i></li>
            <li><i class="fas fa-envelope"></i></li>
            <li><i class="fas fa-bell"></i></li>
            <li><i class="fas fa-calendar-alt"></i></li>
            <li><i class="fas fa-power-off"></i></li>
        </ul>
    </div>
        <div class="chatbox">
            <div class="chatleft">
                <div class="top">
                    <i class="fas fa-bars" style="font-size: 1.4em"></i>
                    [[${searchedId}]]
                    <form th:action="@{/home/search}" method="post">
                    	<div class="form-group row">
                    		<input class="searchInput col-sm-7" type="text" placeholder="UserID or group Name" th:value="${searchString}" name="searchString"> 
                    		<button class="searchbtn col-sm-3" type="submit" value="saerch"><i class="fas fa-search"> search</i></button>
                		</div>
                	</form>
                </div>
                <div class="center">
                	<p class="listTitle">friends</p>
                    <ul>
                    	<li th:if = "${searchedUser != null}">
                    		<img style="border-radius: 20px; vertical-align: middle;" src="http://placehold.it/40x40">
                    		<span style="margin-left: 10px;">[[${searchedUser.id}]]</span>
           					<a class="btn btn-sm btn-primary" th:href="@{/friend/add/}+${searchedUser.id}">add</a>
                    	</li>
                    	<li th:class="${chattingFriend==friend.id}?'choosedFriend':''" th:if = "${searchedUser == null}" th:each="friend:${friends}" th:onclick="javascript:document.getElementById([[${friend.id}]]).click()">
                    		<a th:id="${friend.id}" style="display: hidden" th:href="@{/friend/}+${friend.id}"></a>
                    		<img style="border-radius: 20px; vertical-align: middle; width: 20px; height: 20px;" th:src="@{/asserts/img/user.jpg}">
                    		<span style="margin-left: 10px;">[[${friend.id}]]</span>
                    	</li>
                    </ul>
                    
                    <p class="listTitle">groups</p>
                    <ul>
                    	<li th:each="group:${searchedGroup}">
                    		<img style="border-radius: 20px; vertical-align: middle;" src="http://placehold.it/40x40">
                    		<span style="margin-left: 10px;">[[${group.id}]]</span>
           					<a class="btn btn-sm btn-primary" th:href="@{/group/add/}+${group.id}">add</a>
                    	</li>
                    	<li th:class="${chattingGroup==group.id}?'choosedGroup':''" th:if = "${searchedUser == null}" th:each="group:${groups}" th:onclick="javascript:document.getElementById('group[[${group.id}]]').click()">
                    		<a th:id="${'group'+group.id}" style="display: hidden" th:href="@{/group/}+${group.id}"></a>
                    		<img style="border-radius: 20px; vertical-align: middle; width: 20px; height: 20px;" th:src="@{/asserts/img/user.jpg}">
                    		<span style="margin-left: 10px;">[[${group.groupName}]](group ID: [[${group.id}]])</span>
                    		<i th:if="${group.beEite}" style="width:10px;height:10px;border-radius:50%;background-color:red;display: block"></i>
                    	</li>
                    </ul>
                    
                    <form style="margin: 10%" th:action="@{/group/new}" method="post">
                    	<div class="form-group row">
                    		<input class="searchInput col-sm-7" type="text" placeholder="Group Name" th:value="${searchString}" name="groupName"> 
                    		<button class="searchbtn col-sm-3" type="submit" value="saerch"><i class="fas fa-search">Create</i></button>
                		</div>
                	</form>
                	
                </div>
            </div>
            <div class="chatright">
                <div class="top">
                    <img style="border-radius: 20px; vertical-align: middle;" src="http://placehold.it/40x40">
                    <span style="margin-left: 20px;">[[${session.loginUser}]]</span>
                    <a href = "/home/setVisiable">set visiable</a>
                    <i class="fas fa-ellipsis-v" style="font-size: 1.4em; position: absolute; right: 20px; color: gray;"></i>
                </div>
                <div class="center">
                    <ul>
                    	<li th:style="${message.sender!=session.loginUser && chattingGroup != null}?'display: flex':''" th:each="message:${messages}"  class="msgstyle">
                    		<img style="width:40px; height: 40px;" class="ironleft userIron" th:class="${message.sender==session.loginUser}?'ironright':'ironleft'" th:src="@{/asserts/img/user.jpg}">
                            <div th:style="${message.sender!=session.loginUser && chattingGroup != null}?'display: flex; flex-direction: column;':''">
                            	<h6 th:if="${message.sender!=session.loginUser && chattingGroup != null}">[[${message.sender}]]</h6>
                            	<p th:if="${!message.img}" class="msgleft"  th:class="${message.sender==session.loginUser}?'msgright':'msgleft'" >[[${message.msg}]]</p>
                    			<img th:if="${message.img}" class="msgleft"  th:class="${message.sender==session.loginUser}?'msgright':'msgleft'" src="" th:src="${message.msg}">
                    		</div>
                    	</li>
                    </ul>
                </div>
                <form th:if="${chattingFriend!=null}" th:action="@{/friend/}+${chattingFriend}" method="post" class="footer" enctype="multipart/form-data">
                    <div class="form-group">
    				  <textarea name="msg" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Type your message"></textarea>
  					  <input id="file" name="file" type="file" accept="image/*" multiple="multiple"></input>
  					</div>
                	<button class="sendbtn">send</button>
                	
                </form>
                <a th:if="${chattingFriend!=null}" class="sendbtn" href="/home">remind</a>
                <form th:if="${chattingGroup!=null}" th:action="@{/group/}+${chattingGroup}" method="post" class="footer" enctype="multipart/form-data">
                    <div class="form-group">
    				  <textarea name="msg" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Type your message"></textarea>
  					  <input class="sendbtn" name="file" type="file" accept="image/*" multiple="multiple"></input>
  					</div>
                	<button class="sendbtn">发送</button>
                </form>
            </div>
        </div>
</body>
</html>