<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>dragon hub</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="./chat.css" th:href="@{/asserts/css/chat.css}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
	<link href="asserts/css/bootstrap.min.css" 
	th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" 
	rel="stylesheet">
</head>
<body>
    <div class="leftbar">
        <ul>
            <li><i class="fas fa-user"></i></li>
            <li><i class="fas fa-users"></i></li>
            <li><i class="fas fa-smile"></i></li>
            <li><i class="fas fa-envelope"></i></li>
            <li><i class="fas fa-bell"></i></li>
            <li><i class="fas fa-calendar-alt"></i></li>
            <li><i class="fas fa-power-off"></i></li>
        </ul>
    </div>
        <div class="chatbox">
            <div class="chatleft">
                <div class="top">
                    <i class="fas fa-bars" style="font-size: 1.4em"></i>
                    [[${searchedId}]]
                    <form th:action="@{/friend/search}" method="post">
                    	<input type="text" placeholder="search" class="searchInput" th:value="${userId}" name="userId"> 
                    	<button class="searchbtn" type="submit" value="saerch"><i class="fas fa-search"> search</i></button>
                	</form>
                </div>
                <div class="center">
                    <ul>
                    	<li th:if = "${searchedUser != null}">
                    		<img style="border-radius: 20px; vertical-align: middle;" src="http://placehold.it/40x40">
                    		<span style="margin-left: 10px;">[[${searchedUser.id}]]</span>
           					<a class="btn btn-sm btn-primary" th:href="@{/friend/add/}+${searchedUser.id}">add</a>
                    	</li>
                    	<li th:if = "${searchedUser == null}" th:each="friend:${friends}" th:onclick="javascript:document.getElementById([[${friend.id}]]).click()">
                    		<a th:id="${friend.id}" style="display: hidden" th:href="@{/home/}+${friend.id}"></a>
                    		<img style="border-radius: 20px; vertical-align: middle;" src="http://placehold.it/40x40">
                    		<span style="margin-left: 10px;">[[${friend.id}]]</span>
                    	</li>
                    </ul>
                </div>
            </div>
            <div class="chatright">
                <div class="top">
                    <img style="border-radius: 20px; vertical-align: middle;" src="http://placehold.it/40x40">
                    <span style="margin-left: 20px;">[[${session.loginUser}]]</span>
                    <i class="fas fa-ellipsis-v" style="font-size: 1.4em; position: absolute; right: 20px; color: gray;"></i>
                </div>
                <div class="center">
                    <ul>
                    	<li th:each="message:${messages}"  class="msgstyle">
                    		<img class="ironleft" th:class="${message.sender==session.loginUser}?'ironright':'ironleft'" src="http://placehold.it/40x40">
                            <p class="msgleft"  th:class="${message.sender==session.loginUser}?'msgright':'msgleft'" >[[${message.msg}]]</p>
                    	</li>
                    </ul>
                </div>
                <form th:if="${chattingFriend!=null}" th:action="@{/home/}+${chattingFriend}" method="post" class="footer">
                    <div class="form-group">
    				  <textarea name="msg" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Type your message"></textarea>
  					</div>
                	<button class="sendbtn">发送</button>
                </form>
            </div>
        </div>
</body>
</html>