<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="the index page">
<meta name="author" content="ZhangZhiPing">
<title>Project of Class 6</title>
<!-- Bootstrap core CSS -->
<link href="asserts/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}"
	rel="stylesheet">
<!-- Custom styles for this template -->
<link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}"
	rel="stylesheet">
</head>

<body class="text-center wrap">
	<form class="form-signin" action="home.html" th:action="@{/login}"
		method="post">
		<img class="mb-4" th:src="@{/asserts/img/logo.svg}"
			src="asserts/img/bootstrap-solid.svg" alt="" width="216" height="216">
		<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please
			sign in</h1>
		<p style="color: red" th:text="${msg}"
			th:if="${not #strings.isEmpty(msg)}"></p>
		<label class="sr-only">Username</label>
		<input type="text" class="form-control" name="userId"
			placeholder="UserId" th:placeholder="#{login.userid}" autofocus="">
		<label class="sr-only">Password</label>
		<input type="password" class="form-control" name="password"
			placeholder="Password" th:placeholder="#{login.password}">
		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me">
				[[#{login.remember}]]
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit"
			th:text="#{login.btn}">Sign in</button>
		<a class="form-signup" href="/signupNow" th:text="#{login.signup}"></a>
		<p class="mt-5 mb-3 text-muted">© 2020-</p>
		<a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
		<a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
	</form>
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>


</body>

</html>