<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="the index page">
<meta name="author" content="ZhangZhiPing">
<title>Project of Class 6</title>
<!-- Bootstrap core CSS -->
<link href="asserts/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}"
	rel="stylesheet">
<!-- Custom styles for this template -->
<link href="asserts/css/signin.css" th:href="@{/asserts/css/signup.css}"
	rel="stylesheet">
</head>

<body class="text-center wrap">
	<form name="signupFrom" class="form-signup" th:action="@{/signupNow}" method="post"
		th:object="${signupUser}">
		<img class="mb-4" th:src="@{/asserts/img/logo.svg}"
			src="asserts/img/bootstrap-solid.svg" alt="" width="216" height="216">
		<h1 class="h3 mb-3 font-weight-normal">sign up</h1>

		<!--  <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p> -->
		<div class="form-group row" style="align-items: center;">
			<label class="col-sm-2">UserId</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="signUpId"
					placeholder="Id" th:field="*{id}" autofocus="">
			</div>
		</div>
		<div class="form-group row error" th:if="${#fields.hasErrors('id')}"
			style="align-items: center;">
			<label class="col-sm-2"></label>
			<span class="col-sm-10" th:errors="*{id}">error</span>
		</div>
		<div class="form-group row error" th:if="${not #strings.isEmpty(idError)}"
			style="align-items: center;">
			<label class="col-sm-2"></label>
			<span class="col-sm-10" th:text="${idError}">error</span>
		</div>

		<div class="form-group row" style="align-items: center;">
			<label class="col-sm-2">UserName</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="signUpName"
					placeholder="Name" th:field="*{name}">
			</div>
		</div>
		<div class="form-group row error" th:if="${#fields.hasErrors('name')}"
			style="align-items: center;">
			<label class="col-sm-2"></label>
			<span class="col-sm-10" th:errors="*{name}">error</span>
		</div>
		
		<div class="form-group row" style="align-items: center;">
			<label class="col-sm-2">Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" name="signUpPassword"
					placeholder="Password" th:field="*{password}">
			</div>
		</div>
		<div class="form-group row error" th:if="${#fields.hasErrors('password')}"
			style="align-items: center;">
			<label class="col-sm-2"></label>
			<span class="col-sm-10" th:errors="*{password}">error</span>
		</div>
		
		<div class="form-group row" style="align-items: center;">
			<label class="col-sm-2">Confirm Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" name="confirmPassword"
					placeholder="Password" th:field="*{comfirmedPassword}">
			</div>
		</div>
		<div class="form-group row error" th:if="${not #strings.isEmpty(comfirmPassWordError)}"
			style="align-items: center;">
			<label class="col-sm-2"></label>
			<span class="col-sm-10" th:text="${comfirmPassWordError}">error</span>
		</div>
		
		<div class="form-group row" style="align-items: center;">
			<label class="col-sm-2">Email</label>
			<div class="col-sm-10">
				<input type="email" class="form-control" name="signUpEmail"
					placeholder="Email" th:field="*{email}">
			</div>
		</div>
		<div class="form-group row error" th:if="${#fields.hasErrors('email')}"
			style="align-items: center;">
			<label class="col-sm-2"></label>
			<span class="col-sm-10" th:errors="*{email}">error</span>
		</div>
		<div class="checkbox mb-3">
			<label> </label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
		

		<p class="mt-5 mb-3 text-muted">© 2020-</p>
		<a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
		<a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
	</form>
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</body>
</html>