<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="the index page">
<meta name="author" content="ZhangZhiPing">
<title>Project of Class 6</title>
<!-- Bootstrap core CSS -->
<link href="asserts/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}"
	rel="stylesheet">
<!-- Custom styles for this template -->
<link href="asserts/css/signin.css" th:href="@{/asserts/css/signup.css}"
	rel="stylesheet">
</head>

<body class="text-center">
	<form name="signupFrom" class="form-signup" th:action="@{/signupNow/submitCaptcha}" method="post"
		th:object="${signupUser}">
		<img class="mb-4" th:src="@{/asserts/img/logo.svg}"
			src="asserts/img/bootstrap-solid.svg" alt="" width="216" height="216">
		<h1 class="h3 mb-3 font-weight-normal">sign up</h1>
		
		<div class="form-group row" style="align-items: center;">
			<label class="col-sm-2">Captcha</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="captcha"
					placeholder="Captcha" th:field="*{captcha}">
			</div>
		</div>
		<div class="form-group row error" th:if="${not #strings.isEmpty(captchaError)}"
			style="align-items: center;">
			<label class="col-sm-2"></label>
			<span class="col-sm-10" th:text="${captchaError}">error</span>
		</div>
		<div class="checkbox mb-3">
			<label> </label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

		<p class="mt-5 mb-3 text-muted">© 2020-</p>
		<a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
		<a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
	</form>

</body>
</html>